{% extends "base.html" %}

{% block content %}

<h1>{{ account }}</h1>

<p><a href="{{ url_for('index') }}">Go back</a></p>

{% if not data %}
    <p>No transactions found</p>
{% else %}
    <table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Account</th>
        <th>Debit</th>
        <th>Credit</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.desc }}</td>
        <td></td>
        <td>{{ row.debit if row.debit != None }}</td>
        <td>{{ row.credit if row.credit != None }}</td>
    </tr>
    {% for split in row.splits %}
    <tr>
        <td></td>
        <td></td>
        <td>{{ split.account if split.account != None }}</td>
        <td>{{ split.debit if split.debit != None }}</td>
        <td>{{ split.credit if split.credit != None }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </table>
{% endif %}

{% endblock %}